@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans',sans-serif;
    list-style: none;
    text-decoration: none;
}
#main-header{ 
    background-color: #218EE1;
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
    position: fixed;
}
button{
    cursor: pointer;
}
a{
    text-decoration: none;
    color: #333333;
}
.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    width: 98%;
    height: 100%;   
}
.header-logo{
    margin-left: 24px;
}
.menu-hamburguer{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 30px;
    width: 100px;
    height: 40px;
    font-size: 14px;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}
.menu-hamburguer i{
    font-size: 16px;
}
.bar-menu{
    height: 30px;
    width: 1px;
    border-right: 1px solid rgb(255, 255, 255);
}
.navigation{
    width: 1550px;
    height: 100%;
    margin-left: 20px;
    display: flex;
    align-items: center;
}
.navigation-list{
    display: flex;
    gap: 20px;
}
.navigation-list li a{
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
}
#playplus{
    width: 90px;
}
.header-pp{
    width: 100px;
    margin-right: 20px;
}
#right-bar{
    margin: 15px;
}
.midia{
    width: auto;
    display: flex;
    gap: 5px;
}
.fa-brands{
    color: white;
}
.midia-circle{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-circle-user{
    font-size: 24px;
    color: white;
}
#button-l-content{
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
}
#button-l-content span{
    font-size: 14px;
}
.navigation-list li{
    height: 100%;
}
#container-ad{

    height: auto;
    width: 90%;
    margin: 120px auto 40px;
    display: flex;
    justify-content: center;
}
#root{
    width: 100%;
    min-height: 600px;
    height: auto;
}
#main-content{
    width: 1116px;
    min-height: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
#main-content h1{
    font-size: 48px;
    font-weight: 550;
    color: #333333;
}
.content-main-more{
    display: flex;
    gap: 20px;
    font-size: 16px;
    font-weight: 100;
}
.fa-angles-right{
    color: #218EE1;
}
img{
    border-radius: 4px;
}
.content-notices1{
    display: flex;
    gap: 10px;
}
.content-notices-card{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.content-card-part a{
    display: flex;
    gap: 8px;
    font-size: 14px;
}
.content-notices2{
    display: flex;
}
.content-notices2 figure{
    width: 350px;
    height: 200px;
    overflow: hidden;
}
.content-notices2 div{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.content-notices3{
    display: flex;
    gap: 15px;
}
.content-notices3 div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.content-notices3 div div{
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-size: 14px;
    font-weight: 500;
}
.content-temp{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    max-height: 100px;
    gap: 10px;
    background-color: #b4b4b400;
}
#content-temp-1{
    width: 160px;
    height: 100%;
    display: flex;
    align-items: center;
}
#content-temp-2{
    width: 300px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
#content-temp-2 button{
    display: flex;
    align-items: center;
    gap: 10px;
    background: none;
    border: none;
    font-size: 18px;
    text-align: center;
}
#content-temp-3{
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
#content-temp-3 div{
    display: flex;
}
.temp{
    display: flex;
    gap: 6px;
}
.temp div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#content-temp-3 p{
    font-size: 60px;
}
.max-temp{
    font-weight: 700
}
#sol{
    width: 60px;
}
#content-temp-4 a{
    color: #218EE1;
}
.dopen{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 30px;
}

.dopen h2{
    font-size: 48px;
    font-weight: 200;
}
.dclose{
    margin-top: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.dclose button{
    color: #fff;
    font-size: 12px;
    font-weight: 200;
    width: auto;
    padding: 10px;
    height: 40px;
    border-radius: 20px;
    border: none;
}

#brasilia-open .line{
    background-color: #556373;
    width: 79%;
    height: 1px;
}
#brasilia-open h2{
    color: #556373;
}
#brasilia-close .line{
    width: 90%;
    height: 1px;
    background-color: #556373;
}
#brasilia-close button{
    background-color: #556373;
}


#para2024-open .line{
    background-color: #599973;
    width: 60%;
    height: 1px;
}
#para2024-open h2{
    color: #599973;
}
#para2024-close .line{
    width: 85%;
    height: 1px;
    background-color: #599973;
}
#para2024-close button{
    background-color: #599973;
}


.content-brasilia > div{
    display: flex;
    gap: 30px;
}
.content-brasilia div div{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.content-brasilia div div div{
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-size: 14px;
}

.content-para2024 > div{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.content-para2024 div > div{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.content-para2024 div > div > div{
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-size: 14px;
}


#drama-open .line{
    background-color: #4766AC;
    width: 75%;
    height: 1px;
}
#drama-open h2{
    color: #4766AC;
}
#drama-close .line{
    width: 90%;
    height: 1px;
    background-color: #4766AC;
}
#drama-close button{
    background-color: #4766AC;
}

.content-drama > div{
    display: flex;
}
.content-drama img{
    width: 255px;
    height: 140px;
}

#videos-open .line{
    background-color: #218EE1;
    width: 75%;
    height: 1px;
}
#videos-open h2{
    color: #218EE1;
}
#videos-close .line{
    width: 90%;
    height: 1px;
    background-color: #218EE1;
}
#videos-close button{
    background-color: #218EE1;
}
.content-videos > div{
    display: flex;
    width: 35%;
    gap: 35px;
    justify-content: space-between
}
.content-line{
    width: 100%;
    background-color: rgb(233, 233, 233);
    display: flex;
    justify-content: center;
}
.content-line a{
    width: 95%;
    display: flex;
    align-items: center;
    margin: auto 10px;
    gap: 20px;
}
.aovivo{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: red;
}
.content-line img{
    width: 125px;
}
.content-line a>div{
    display: flex;
    gap: 8px;
    align-items: center;
    color: red;
    font-weight: 700
}
.content-line a>p{
    color: #333333;
    font-weight: 600;
}
.container-image{
    position: relative;
    width: 50%;
}
.more-read {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #eeeeee;
    padding: 10px;
    gap: 20px;
}
.more-read header{
    display: flex;
    align-items: center;
    gap: 20px;
}
.more-read h2{
    font-size: 26px;
    font-weight: 300;
}
.more-read header {
    width: 100%;
    height: 30%;

}
.more-read main{
    display: flex;
    gap: 20px;
}
.line-read{
    width: 85%;
    height: 1px;
    background-color: #333333;
}




#prisma-open .line{
    background-color: #4766AC;
    width: 85%;
    height: 1px;
}
#prisma-open h2{
    color: #4766AC;
}
#prisma-close .line{
    width: 90%;
    height: 1px;
    background-color: #4766AC;
}
#prisma-close button{
    background-color: #4766AC
}
.content-prisma > div{
    display: flex;
    width: 100%;
    gap: 35px;
    justify-content: space-between
}
.content-prisma img{
    width: 255px;
    height: 143px;
    overflow: hidden;
}

#sports-open .line{
    background-color: #599973;
    width: 85%;
    height: 1px;
}
#sports-open h2{
    color: #599973;
}
#sports-close .line{
    width: 88%;
    height: 1px;
    background-color: #599973;
}
#sports-close button{
    background-color: #599973;
}

.sport-content{
    display: flex;
    gap: 20px;
}
.sport-root{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sport-root p{
    font-size: 18px;
    font-weight: 500;
}
.sport-content img{
    width: 350px;
    height: 200px;
}

.footer-content{
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}
.footer-content div{
    width: 100%;
    height: 100%;
}
.footer-content div > ul{
    display: flex;
    justify-content: center;
    gap: 80px;
}
.footer-content div > ul > li{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.lista{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-list h5{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.footer-li{
    color: #666666;
    font-size: 14px;
    cursor: pointer;
}
.footer-li:hover{
    text-decoration: underline;
}
footer{
    width: 100%;
    height: 162px;
    background-color: #218EE1;
    color: #fff;
}
footer > div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-container{
    width: 70%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header-footer{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
}
.header-footer h1{
    font-size: 20px;
    font-weight: 800;
}
.header-footer span{
    font-size: 12px;
    font-weight: 300;
}
.option-footer{
    width: 100%;
}
.option-footer ul{
    display: flex;
    gap: 30px;
}
.option-footer ul li{
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
}
.option-footer ul li:hover{
    text-decoration: underline;
}
#line{
    width: 100%;
    height: 1px;
    background-color: #999999;
}